# Hamiltonian Neural Networks | 2019
# Sam Greydanus, Misko Dzamba, Jason Yosinski

.DS_Store
*.egg-info

.ipnyb_checkpoints
**/*.ipnyb_checkpoints/
./experiment_pixels

.pytest_cache
*.tar
*.zip
*.pkl
figures/
__pycache__